#successPaymentPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.successIcon {
    width: 200px;
    height: 200px;
}

.paymentSuccessfulHeaders {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.paymentSuccessfulHeaders h1 {
    color: #41d09d;
    font-size: 48px;
}

.homePageButton {
    background: rgb(3, 182, 156);
    background: linear-gradient(270deg, rgba(3, 182, 156, 1) 0%, rgba(151, 253, 173, 1) 100%);
    padding: 20px 60px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.homePageButton:hover {
    background: rgb(151, 253, 173);
    background: linear-gradient(270deg, rgba(151, 253, 173, 1) 0%, rgba(3, 182, 156, 1) 100%);
}